extends layout
block content
    h1= record.title
    h5= record.artist
    p= record.format
    hr
    a.btn.btn-primary(href='/records/edit/'+record._id) Edit
    a.btn.btn-danger.delete-record(href='#', data-id=record._id) Delete